*{ margin: 0px; padding: 0px; }

/*----- HEADER -----*/

.logo {
    width: 200px;
    position: absolute;
    top: 60px;
    left: 30px;
   }

.header_main {
    display: block;
    width: 100% ;
    background-color: #27293f;  
   }

h1 {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 20px; 
    color: white;
}

.socialmedia {
    display: inline-block;
    width: 850px;
    text-align: right;
    vertical-align: middle;
    }

.netlogos {
    height: 25px;
    width: 25px; 
    padding: 0px 5px 0px 0px;
    cursor: pointer;
}


/*----- BODY -----*/

.banner {
    background-image: url("../images/Updated-Banner-Photo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 850px;
}   

h2 {
    position: absolute;
    top: 600px;
    left: 50px;
    margin: 5px;
    text-align: center; 
    background-color: white;
    color: black;
    border: solid;
    border-color: black;

}
h3 {
    padding: 20px 0px 10px 10px;
    font-style: italic;
    font-size: 30px;
}

h4 {
    font-size: 25px;
    padding: 20px 0px 0px 0px;
}

h5 {
    font-size: 15px;
    padding: 0px 0px 10px 20px;
}

h6 {
    font-size: 15px;
    font-weight: normal;
    padding: 0px 0px 5px 10px;
}

span {
    font-weight: bold;
}

.subgroups {
    position: absolute;
    top: 300px;                                            
    left: 300px;
    width: 60%;    
    color: black;
    background-color: rgb(255, 255, 255, 0.7);  
    padding: 0px 25px 30px 20px;
    }

.subgroups_short {
    position: absolute;
    top: 300px;                                            
    left: 300px;
    width: 40%;    
    color: black;
    background-color: rgb(255, 255, 255, 0.7);  
    padding: 0px 25px 30px 20px;
}

.schedule {
    width: 60%;
 }


/* TEXT-FIELDS */
.info {
    display: inline-block;
    height: max-content;                                                    
    width: 100%;
}

.info_overflow {
    height: 580px;
    overflow-y: scroll;
}

.info p {
    padding: 0px 0px 0px 10px;
    font-size: 15px;
}

.line_break {
    margin: 0px 0px 20px 0px;
}

.align_center {
    text-align: center;
    margin: 0px 0px 10px 0px;
}


/* NAVIGATION BAR */
.link {
    display: inline-block;  
    flex-direction: column;  
    position: absolute;  
    top: 300px;
    left: 50px; 
    font-family: 'Maiden Orange', cursive;
    font-size: 40px;
}

.active {
    display: block;
    padding: 20px 80px 20px 20px;
    background-color: rgb(255, 255, 255, 0.7);  
    transition: padding-left 1s, background-color 3s;
}
.nav {
    display: block;
    width: 140px;
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 20px 80px 20px 20px;
}

ol, ul {
    padding: 0px 20px 10px 30px;
}

ul {
    list-style: square;
}

.info ol > li > ol > li {
    list-style: lower-alpha;
}

.info ul > li > ul > li {
    list-style: circle;
}

.bold-numbers {
    font-weight: bold;
}

.normal-text {
    font-weight: normal;
}



table {
    display: inline-block;
    border-collapse: collapse;  
    padding: 0px 0px 20px 20px;
}

th, td {
    padding: 10px 15px 10px 15px;
}
  
thead {
    background: rgb(101, 101, 126);
    color: white;
  }

.odd_line {
    background: #ece3b1;
  }
.even_line {
    background: rgb(210, 226, 255);
}
   

/* GAME LOCATIONS */

.game_parent {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 0px 0px 30px 0px;
}

.game_child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    padding: 10px 0px 10px 0px; 
}
.game_bottom {
    padding: 0px 0px 0px 20px;
    font-size: larger;
}
.game_bottom p {
    font-size: 17px;
}

iframe {
    width: 400px;
    height: 200px;
}



.game_facilities {
    padding: 0px 0px 40px 0px;
}

.inline {
    display: inline-block;
    margin: 0px 40px 40px 0px; 
}

/* REGISTRATION FORM */
form {
    display: flex;
    flex-direction: column;
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    border: 3px solid lightgreen;
    padding: 10px 10px 10px 10px; 
    background-color: lightgoldenrodyellow;
}

label {                              
    padding: 0px 10px 5px 10px;
}

input[type='text'], input[type='tel'], input[type='number'], input[type='email'], input[type='date'] {
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
}

input[name="signature"] {
    padding: 5px 300px 5px 5px;
}

input[type='checkbox'] {
    margin: 0px 5px 5px 30px;
}

input[name='uniform'] {
    margin: 30px 0px 5px 30px;
}


.half_row {                                        
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 5px 5px 5px 5px;
}
.half_row div {                                       
    display: flex;
    width: 49%;
}

.street,
.grade {                                      
    display: flex;
    justify-content: flex-start;
    width: 98%;
    padding: 5px 5px 5px 5px;
}

.half_row .gender {
    display: flex;
    justify-content: flex-start;
    width: 49%;
}

.gender [type='radio'] {
    margin: 0px 0px 0px 20px;
}

.nearest_school {
    display: flex;
    justify-content: space-around;
    width: 49%;
    padding: 5px 5px 5px 5px;

}


/* PLAYER POSITIONS */
.position_interim_1 {
    display: flex;
    flex-direction: row;
    }

.position_interim_2 {
    display: flex;
    flex-direction: column;
    margin: 0px 5px 0px 30px;
    }
.position_child {
    display: flex;
    flex-direction: row;
}
.position_bottom {
    display: flex;
    flex-direction: column;
}

.registration {
    margin: 0px 10px 20px 30px;
    font-size: 14px;
}

.signature_line {
    display: flex;
    justify-content: space-around;
}

.guardian {
    flex-grow: 1;
    padding: 0px 0px 0px 20px;
}

/* SUBMIT-BUTTON */
.submit {
    width: 12em; height: 2em;
    font-size: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px 10px 0px;
}


    





/*----- FOOTER -----*/

.footer_main {
    position: absolute;
    height: 50px;
    width: 100%;
    display: inline-block;
    background-color: #27293f;  
}

.footer_child {
    text-align: right;
    width: 1400px;
    color: white;  
}