* { margin: 0px; padding: 0px; }

/*----- Header -----*/
.banner {
    background-image: url("../images/design1_image1.jpeg");
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin: 50px 5px 5px 5px;
}
.logo {
    width: 150px;
    position: absolute;
    top: 450px;
    left: 20px;
   }
h1 {
    padding-left: 5px; 
    position: absolute;
    top: 5px; 
}
/*----- Body -----*/
h2 {
    text-align: center; 
    background-color: white;
    color: black;
    border: solid;
    border-color: black;
    margin: 5px;
}
h3 {
    padding: 0px 0px 10px 0px;    
}
.subgroups {
    margin: 5px;
}   

.info {
    display: inline-block; 
    height: 250px;
    width: 50%;
    padding: 10px 0px 50px 200px;
}
.info p {
    padding: 0px 0px 10px 10px;
}
.info .p1 {
    padding-bottom: 0px;
}

.link {
    position: absolute;
    right: 100px;
    top: 40px;
    display: inline;
    font-size: 30px;
    font-family: "Lavander", Helvetica, Arial;
}
.nav {
    display: inline;
    color: black;
    text-decoration: none;
    border: solid;
    border-width: 3px 3px 3px 3px;
    border-color: black;
    padding: 10px 20px 10px 20px;
    background-color: white;
}

.active {
    display: inline;
    border: solid;
    border-color: black;
    border-width: 3px 3px 3px 3px;
    padding: 10px 20px 10px 20px;
    background-color: lightblue;
}